.fill-plain {
  background-color: #EAEFF5;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-row {
  margin-bottom: 20px;
}

.whisper {
  margin-top: 15px;
  font-style: italic;
  color: grey;
}

.email {
  margin-top: 5px;
  font-style: italic;
  color: grey;
}

.more-info {
  word-wrap: break-word;
  word-break: break-all;
  height: 200px;
}
